name: publish-plugin

on:
    workflow_dispatch:
    push:
        tags: '*'

env:
    WINDY_API_KEY: '${{ secrets.WINDY_API_KEY }}'

jobs:
    publish-plugin:
        runs-on: ubuntu-latest
        environment:
            name: windy-plugin
            url: ${{ steps.publish.outputs.url}}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'npm'
            - name: Install Node dependencies
              run: npm install
            - name: Build
              run: npm run build
            - name: Create Archive
              run: |
                  cd dist
                  echo "{\"repositoryName\": \"${{ github.repository }}\", \"commitSha\": \"${{ github.sha }}\", \"repositoryOwner\": \"${{ github.repository_owner }}\"}" > /tmp/plugin-info.json
                  mv plugin.json /tmp
                  jq -s '.[0] * .[1]' /tmp/plugin.json /tmp/plugin-info.json > plugin.json
                  tar cf ../plugin.tar .
            - name: Publish Plugin
              id: publish
              run: |
                  if [ -z "$WINDY_API_KEY" ]; then
                    echo "Secret WINDY_API_KEY is not configured" >&2
                    exit 1
                  fi
                  response=$(curl -s --fail-with-body -XPOST 'https://api.windy.com/api/windy-plugins/v1.0/upload' -H "x-windy-api-key: ${WINDY_API_KEY}" -F "plugin_archive=@plugin.tar")
                  url=${response#"Plugin install URL: "}
                  echo "url=${url}" >> $GITHUB_OUTPUT
            - name: Save Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: plugin-archive
                  path: plugin.tar